*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(248, 163, 191);
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    height: 400px;
}

#image2{
    margin-top: 90px;
    width: 180px;
    height: 160px;
}
#image2:hover{
    opacity: 0.6;
    cursor: pointer;
}
#image1{
    width: 190px;
    height: 340px;
}
#image1:hover{
    opacity: 0.7;
    cursor: pointer;
}

#image3{
    margin-top: 50px;
   width: 180px;
   height: 250px;
}
#image3:hover{
    opacity: 0.6;
    cursor: pointer;
}

.score-board{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.score{
    font-size: 23px;
}

.message-container{
    display: flex;
    justify-content: center;
}

#msg{
    background: linear-gradient(
    to right,
    #7f6aa8,
    #b86fcf,
    #74c2d8
);
    padding: 10px;
    border: none;
    width: 160px;
    border-radius: 15px;
    font-size: 20px;
    margin-top: 30px;
}

.